.main {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 25fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas: "aside header" "aside main" "aside footer";
  height: 100vh;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: linear-gradient(
    beige, cornsilk, aliceblue
  );
}

.container {
  grid-area: main;

  overflow-y: scroll;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}