.footer {

  grid-area: footer;
  text-align: center;
  width: 100vw;
  /*
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem; */
}
